@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0rem auto;
  background-color: #fff;
  /* font-size: 16px; */
  font-size: 1rem;
}
html {
  font-size: 100%;
}
a {
  text-decoration: none;
  color: chocolate;
}
.logo {
  counter-reset: #888;
}
h1 {
  padding-bottom: 1rem;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  padding-bottom: 1rem;
}
.price {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
/* img {
   width: 100%;
   display: block;
} */
ul {
  list-style: none;
}
.favorites-item {
  margin-bottom: 1rem;
}
.product-image {
  width: 10rem;
  max-width: 10rem; /* Use max-width for responsiveness */
  height: 10rem;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding: 5rem;
}
.navbar {
  padding: 2rem;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 52px;
  height: 52px;
  background-color: #333;
  border: 1px solid #333;
}
.navbar svg {
  color: #fff;
  width: 2rem;  
}
.navbar .favourites {
  fill: red; /* Your desired background color for the SVG */
  width: 2rem;
}

.cart {
  position: relative;
}
.badge {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 1.3rem;
  height: 1.3rem;
  background-color: chocolate;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.btn {
  padding: 0.5rem 1rem;
  background-color: chocolate;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.prod-btn {
  background: transparent;
  border: none;
  width: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90vw;
  max-width: 65rem;
  margin: 2rem auto;
  gap: 4rem;
  align-items: center;
  padding: 5rem 1rem;
}
.product-details-container img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}
.product-buttons {
  cursor: pointer;
}
.prod-qty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn-add {
  color: #fff;
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.cart {
  cursor: pointer;
}
.modal-container {
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  width: 90vw;
  max-width: 40rem;
  max-height: 70vh; /* Adjust the max height as needed */
  overflow-y: auto; /* Add this line for the scrollbar */
}

.cart-modal ul {
  list-style: none;
  padding: 0;
}

.cart-modal li {
  margin-bottom: 10px;
}
.btn-close {
  position: fixed;
  top: 1rem;
  right: 0;
  width: 3rem;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.amount {
  display: flex;
  justify-content: center;
  align-items: center;
}
.qty,
.total {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}
.qty-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.cart-image {
  width: 2rem;
  height: 2rem;
}
.cart-image img {
  width: 100%;
  object-fit: cover;
}
.image-details {
  /* display: flex;
    justify-content: flex-start;
    gap: 1rem; */
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  padding: 1rem;
}
.search-input {
  padding: 0.5rem 5rem;
  width: 30rem;
  outline: none;
}
.search-message {
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  color: red;
}
.footer {
  height: 3rem;
  background-color: #333;
  text-align: center;
  color: #fff;
  padding: 1rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 5rem;
}
.btn-error {
  padding: 0.5rem 1rem;
  background-color: chocolate;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
}

/**************** Responsive Layout ********************************/
/* Adjust font size for larger screens */
@media screen and (min-width: 1200px) {
  html {
    font-size: 110%; /* Increase font size by 10% */
  }
}
/* Adjust font size for medium-sized screens */
@media screen and (max-width: 1200px) {
  html {
    font-size: 100%; /* Reset font size to default for medium-sized screens */
  }
}

/* Styles for medium-sized screens */
@media screen and (max-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 3rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  .products-container {
    gap: 5rem;
    padding: 5rem;
  }
}
.product-item svg {
  width: 20px;
  fill:none;
}
.fav-btn {
  border: none;
  background: transparent;
  cursor: pointer;
 
}

/* Styles for smaller screens */
@media screen and (max-width: 768px) {
  html {
    font-size: 90%; /* Decrease font size by 10% for smaller screens */
  }
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }
  .navbar {
    padding: 1rem;
  }
  .products-container {
    gap: 5rem;
    padding: 5rem;
  }
  .search-input {
    width: auto;
  }
}

/* Styles for even smaller screens */
@media screen and (max-width: 480px) {
  .products-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
  }
  .product-image {
    width: 5rem;
    max-width: 5rem;
  }
  .products-container {
    padding: 4rem;
  }
  .product-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .search-input {
    width: auto;
    padding: 0;
  }
  .navbar svg {
    width: 2rem;
  }
  .product-details-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .product-details-container img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin: 0 auto;
  }
}
