@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0rem auto;
  background-color: #fff;
  font-size: 16px;
}
a {
    text-decoration: none;
    color: chocolate;
}
.logo {
    counter-reset: #888;
}
h1 {
  padding-bottom: 1rem;
  font-size: 3rem;
}
h2,
h3 {
  padding-bottom: 1rem;
}
.price {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
/* img {
   width: 100%;
   display: block;
} */
.product-image {
  width: 10rem;
  height: 10rem;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding: 5rem;
}
.navbar {
  padding: 2rem;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 52px;
    height: 52px;
    background-color: #333;
    border: 1px solid #333;
}
.navbar svg {
  color: #fff;
  width: 3rem;
}
.cart {
  position: relative;
}
.badge {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  background-color: chocolate;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 0.5rem 1rem;
  background-color: chocolate;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.prod-btn {
  background: transparent;
  border: none;
  width: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90vw;
  max-width: 65rem;
  margin: 2rem auto;
  gap: 4rem;
  align-items: center;
  padding: 5rem 1rem;
}
.product-details-container img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}
.product-buttons {
  cursor: pointer;
}
.prod-qty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn-add {
  color: #fff;
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.cart {
    cursor: pointer;
}
 .modal-container {
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    width: 90vw;
    max-width: 40rem;
    max-height: 70vh; /* Adjust the max height as needed */
    overflow-y: auto; /* Add this line for the scrollbar */
  }
  
  .cart-modal ul {
    list-style: none;
    padding: 0;
  }
  
  .cart-modal li {
    margin-bottom: 10px;
  }
  .btn-close {
    position: fixed;
    top: 1rem;
    right: 0;
    width: 3rem;
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  .amount {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .qty,.total {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
  }
  .qty-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .cart-image {
    width: 2rem;
    height: 2rem;
    
  }
  .cart-image img {
    width: 100%;
    object-fit: cover;
  }
  .image-details {
    /* display: flex;
    justify-content: flex-start;
    gap: 1rem; */
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    padding: 1rem;
  }
  .search-input {
    padding: 0.5rem 5rem;
    width: 30rem;
    outline: none;
  }
  .search-message {
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    color: red;
  }